{% extends 'bbs/base.html' %}
{% block title %}{{ block.super }} - New Post{% endblock %}
{% block body %}
<h2>New Post</h2>
    <form action="" method="post">
{% csrf_token %}
    <table>
        <tr><th><label for="id_subject">Subject:</label></th><td><input id="id_subject" type="text" name="subject" maxlength="255" /></td></tr>
        <tr><th><label for="id_content">Content:</label></th><td><textarea id="id_content" rows="10" cols="40" name="content"></textarea></td></tr>
        <tr><th><label for="id_tags">Tags:</label></th><td><input id="id_tags" type="text" size="40" name="tags" maxlength="255" /> <span style="color:gray;font-size:12px;">Separete tags with comma</span></td></tr>
        <tr><th></th><td><input id="id_submit" type="submit" value="Submit" /></td></tr>
    </table>
    </form>
{% endblock %}
